

	<div class="col" id="d">
      <div class="p-3 border bg-secondary"><h3 align="center">Liste des etudiant</h3>
          
          <table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Matricule</th>
			      <th scope="col">Nom</th>
				  <th scope="col">Classe</th>
				  <th scope="col"></th>
				  <th scope="col"></th>

			    </tr>
			  </thead>
			  <tbody>
			   
			    <tr *ngFor="let gr of listEtudiant">
			      
			      <td>{{gr.nom}}</td>
			      <td>{{gr.Matricule}}</td>
				  <td>{{gr.classe}}</td>
				  <td class="actions">
				  <button class="btn btn-success" [routerLink]="['/updateEtudiant', gr.ID]" >	<i class="fas fa-edit" >Modifier</i> </button>
				  <button class="btn btn-danger" (click)="SuppEtudiant(gr)">	<i class="fas fa-edit" >supprimer</i> </button>	  
				  </td>
				  <td>
				  <button class="btn btn-success" [routerLink]="['/ConsulterResult', gr.ID]" >	<i class="fas fa-edit" >Ajoutr note</i> </button>
				  </td>	
			      
			    </tr>
			   
			  </tbody>
			</table>
		 	
      </div>
    </div>

			
