<div class="p-3 border bg-secondary" id="d">
	 <h4 align="center">Modifier Etudiant</h4>
  <form [formGroup]= "form" name="form" (ngSubmit) = "update()" >
 			 <div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Nom </label>
			  <input type="text" class="form-control"  name="nom"  formControlName="nom" >
			</div>
			 <div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Matricule</label>
			  <input type="text" class="form-control"  name="Matricule"  formControlName="Matricule" >
			</div>
            <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Classe</label>
            <input type="text" class="form-control"  name="classe"  formControlName="classe" >
            </div>
			<div class="mb-3">
			  
              <button type="submit" class="btn" style="background:#52be80;">Modifier</button>
			  
			  
			</div>
			</form>
			</div>

