#c{
    
}

#d{
    width: 50%;
    margin:20px 25% 0 25%;
    background-color: blue;
}

.btn{
    margin-right: 5%;
}
/* h4 {
    color: rgb(94, 121, 207);
}
label{
    color: rgb(94, 121, 207);;
} */