<!-- <br><br><br>
<div class="row" id="d">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b>Ajouter un etudiants</b></h5>
        <p class="card-text"></p>
        <a  class="btn btn-primary" (click)="Side()">Go </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b>Gerer les etudiants</b></h5>
        <p class="card-text"></p>
        <a  class="btn btn-primary" (click)="Etude()">Go </a>
      </div>
    </div>
  </div>
        
  
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b>Gerer les resultats</b></h5>
        <p class="card-text"></p>
        <a  class="btn btn-primary" (click)="consAd()">Go </a>
      </div>
    </div>
  </div>
</div><br><br><br> -->



<div class="sidebar">
  <br>
  <br>
  <br>
  <a  class="btn btn-light" (click)="Etude()">Etudiant</a>
  <a  class="btn btn-light" (click)="Etude()">Etudiant</a>
  <a class="btn btn-light" (click)="consAd()">Les Notes</a>
  <a  class="btn btn-light" (click)="consAd()">Les Notes</a>
</div>