
<br>
<div class="p-3 border bg-light" id="d">
	 <h4 align="center">Nouvelle</h4>
  <form >
             <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Classe</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>6C</option>
                <option value="1">5C</option>
                <option value="2">5D</option>
                <option value="3">5A</option>
            </select>
 			 <div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Classe Etudiant </label>
			  <input type="text" class="form-control" id="exampleFormControlInput1" name="classe" formControlName="classe">
			</div>
			 <div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Matricule</label>
			  <input type="text" class="form-control" id="exampleFormControlInput1" name="Matricule" formControlName="Matricule">
			</div>
            <div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Note Math</label>
			  <input type="text" class="form-control" id="exampleFormControlInput1" name="Math" formControlName="Math">
			</div>
            <div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Note physique</label>
			  <input type="text" class="form-control" id="exampleFormControlInput1" name="pc" formControlName="pc">
			</div>
            <div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Note Science</label>
			  <input type="text" class="form-control" id="exampleFormControlInput1" name="sc" formControlName="sc">
			</div>
            <div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Note Arabe</label>
			  <input type="text" class="form-control" id="exampleFormControlInput1" name="ar" formControlName="ar">
			</div>
            <div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Note Francais</label>
			  <input type="text" class="form-control" id="exampleFormControlInput1" name="fr" formControlName="fr">
			</div>
            
            </div>
			<div class="mb-3">
			  <p><button type="reset" class="btn btn-primary">Annuler</button>
              <button type="submit" class="btn" style="background:#52be80;">Ajouter</button></p>
			  
			</div>
			
